body {
    background-color: black;
  }
    #header{
      margin-inline-start: 400px;
      font-size: 25px;
    }

.result-grid{
      float: left;
      width: 1200px;
       background-color: black;
       margin: 2rem;
            
    }

.inputinfo{
    background-color: black;
    float: left;
    max-width: 400px;
    height: 350px; 
    margin-right: 50px;
    border: aquamarine;
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
       
}

#photoholder{
  background: url("./newyork.jpg");
  background-repeat: no-repeat;
  background-size: 450px 400px;
  float: left;
  width: 400px;
  height: 350px;
  margin-left: 50px;
  border: aquamarine;
  border-style: solid;
  border-width: 20px;
  border-radius: 10px;
}

#template {
  display:inline-flex;
  margin-top: 50px;
  margin-left: 300px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  background-color: black;
  border-color: red;
  border-style: solid;
  border-width: 20px;
  border-radius: 10px;
  height: 350px;
  color: red;
  }

  .div1 {
    display:inline-flex;
    margin-top: 50px;
    margin-left: 300px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    background-color: black;
    border-color: red;
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    height: 350px;
    color: red;
    }

  .name{
    color: white;

  }

h3{
    color: aquamarine;
}

h1{
  color: aquamarine;
}

h2{
  color: aquamarine;
}

h4{
  color: aquamarine;
}

#display{
  color:aquamarine
}

.text-error {
  color: red;
}

.text-success {
  color: green;
}